{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "singleAttributePerLine": true,
  "space-before-function-paren": true,
  "endOfLine": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}